In [1]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.245179  0.324079  0.179426
台中 -0.296611  0.848910  1.134284
台南  0.644767  2.297063  0.028384
高雄 -0.210515 -2.149757  0.142302

In [2]:
np.abs(frame)

           b         d         e
台北  0.245179  0.324079  0.179426
台中  0.296611  0.848910  1.134284
台南  0.644767  2.297063  0.028384
高雄  0.210515  2.149757  0.142302

In [3]:
frame.abs()

           b         d         e
台北  0.245179  0.324079  0.179426
台中  0.296611  0.848910  1.134284
台南  0.644767  2.297063  0.028384
高雄  0.210515  2.149757  0.142302

In [4]:
display(frame.loc['台北'])
for item in frame.loc['台北']:
    print(item)

b   -0.245179
d    0.324079
e    0.179426
Name: 台北, dtype: float64

-0.2451785239634851
0.3240786668190657
0.1794262876406791

In [5]:
for items in frame:
    print(items)

b
d
e

In [7]:
display(frame)
frame.loc['台北'].sum()
frame.loc['台中'].sum()
frame.loc['台南'].sum()
frame.loc['高雄'].sum()
frame['b'].sum()
frame['d'].sum()
frame['e'].sum()

           b         d         e
台北 -0.245179  0.324079  0.179426
台中 -0.296611  0.848910  1.134284
台南  0.644767  2.297063  0.028384
高雄 -0.210515 -2.149757  0.142302

1.484396231590951

In [10]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北 -0.245179  0.324079  0.179426
台中 -0.296611  0.848910  1.134284
台南  0.644767  2.297063  0.028384
高雄 -0.210515 -2.149757  0.142302

b   -0.107537
d    1.320295
e    1.484396
dtype: float64

台北    0.258326
台中    1.686583
台南    2.970215
高雄   -2.217970
dtype: float64

In [11]:
def abc(series):
    display(series)

frame.apply(abc)

台北   -0.245179
台中   -0.296611
台南    0.644767
高雄   -0.210515
Name: b, dtype: float64

台北    0.324079
台中    0.848910
台南    2.297063
高雄   -2.149757
Name: d, dtype: float64

台北    0.179426
台中    1.134284
台南    0.028384
高雄    0.142302
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [12]:
def abc(series):
    display(series)

frame.apply(abc,axis=1)

b   -0.245179
d    0.324079
e    0.179426
Name: 台北, dtype: float64

b   -0.296611
d    0.848910
e    1.134284
Name: 台中, dtype: float64

b    0.644767
d    2.297063
e    0.028384
Name: 台南, dtype: float64

b   -0.210515
d   -2.149757
e    0.142302
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [13]:
def abc(s:pd.Series)->float:
    return s.max() - s.min()

frame.apply(abc,axis=1)

台北    0.569257
台中    1.430894
台南    2.268679
高雄    2.292059
dtype: float64

In [14]:
frame.sum(axis=1)

台北    0.258326
台中    1.686583
台南    2.970215
高雄   -2.217970
dtype: float64

In [15]:
def abc(s:pd.Series)->pd.Series:
    return pd.Series([s.max(), s.min()],index=['最大','最小'])
display(frame)
frame.apply(abc,axis=1)

           b         d         e
台北 -0.245179  0.324079  0.179426
台中 -0.296611  0.848910  1.134284
台南  0.644767  2.297063  0.028384
高雄 -0.210515 -2.149757  0.142302

          最大        最小
台北  0.324079 -0.245179
台中  1.134284 -0.296611
台南  2.297063  0.028384
高雄  0.142302 -2.149757